#bg {
    background-color: yellow;
}

#dawg_pic {
    width: 720px;
}

#download_button {
    width: 200px;
    height: 35px;
}

#popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width:20%;
    height: 10%;
    padding:5% 2.5%;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
}

#popup-content{

}